:root {
    --desaturatedRed: hsl(0, 36%, 70%);
    --softRed: hsl(0, 93%, 68%);
    --grayishRed: hsl(0, 6%, 24%);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
}
@font-face {
    font-family: Josefin;
    src: url('/font/static/JosefinSans-Regular.ttf');
}
@font-face {
    font-family: JosefinLight;
    src: url('/font/static/JosefinSans-ExtraLight.ttf');
}
body {
    font-family: Josefin, sans-serif;
    font-size: 16px;
    background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    padding-bottom: 100px;
}
img#logo {
    padding: 30px;
    width: 100%;
    max-width: 35%;
}
img.hero {
    padding-bottom: 50px;
    width: 100%;
}
.texts {
    text-align: center;
}
header {
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 7px;
    line-height: 36px;
    padding: 0 30px;
}
header #colorHeader {
    display: block;
    letter-spacing: 8px;
    color: var(--desaturatedRed);
    font-family: JosefinLight, sans-serif;
}
header .blackHeader {
    color: var(--grayishRed);
    /* display: block; */
}
p.description {
    padding: 20px 30px;
    font-size: 0.9em;
    line-height: 20px;
    color: var(--desaturatedRed);
    /* color: var(--softRed); */
}
#relPar {
    position: relative;
}
input {
    border: 1px solid var(--desaturatedRed);
    padding: 15px 25px;
    width: 80%;
    font-size: 1em;
    border-radius: 30px;
    color: var(--grayishRed);
    background-color: hsl(0, 100%, 98%);
    outline: none;
    letter-spacing: 1.3px;
}
input::placeholder {
    opacity: 0.6;
    letter-spacing: 1.5px;
    color: var(--desaturatedRed);
}
#enter {
    position: absolute;
    bottom: 1px;
    left: 77.5%;
    height: 50px;
    width: 80px;
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    line-height: 45px;
    font-size: 30px;
    color: white;
    border-radius: 30px;
    transition: 0.5s;
}
#enter:hover {
    box-shadow: 0px 5px 35px -7px var(--softRed);
    cursor: pointer;
    filter: brightness(135%);

}
p#errorMessage {
    text-align: left;
    margin-top: 10px;
    margin-left: 60px;
    color: var(--softRed);
}
img#error {
    position: absolute;
    right: 25%;
    top: 15px;
}

/* pseudo tablet style */
@media screen and (min-width: 600px) {
    .container {
        max-width: 600px;
        margin: 0 auto;
    }
    img#logo {
        padding-left: 0;
    }
}

/* desktop styles */
@media screen and (min-width: 1200px) {
    body {
        padding-bottom: 0px;
        font-size: 19px;
        
        height: 700px;
    }
    header #colorHeader {
        font-family: JosefinLight, sans-serif;
        font-weight: 100;
    }
    header {
        padding-right: 200px;
        letter-spacing: 15px;
        line-height: 45px;
    }
    header, p.description {
        padding-left: 0px;
    }
    p.description {
        line-height: 25px;
    }
    img#logo {
        grid-column: 2/3;
        max-width: 25%;
    }
    .container {
        display: grid;
        max-width: 1200px;
        grid-template-columns: 1fr  600px 500px;
        grid-template-rows: 150px 450px;
        background-image: url('/images/bg-pattern-desktop.svg');
        background-repeat: no-repeat;
        background-size: 60%;
    }
    #pic {
        height: 400px;
        width: auto;
        grid-row: 1/-1;
        grid-column: 3/4;
    }
     .texts {
        text-align: left;
        padding-right: 100px;
        grid-column: 2/3;
        grid-row: 2/3;
    }
    img.hero {
        height: 700px;
        width: 100%;
    }
    input {
        width: 92%;
        margin-top: 10px;
        padding: 20px 30px;
        background-color: transparent;
    }
    #enter {
        text-align: center;
        height: 64px;
        line-height: 60px;
        width: 90px;
        left: 74%;
    }
    p#errorMessage{
       margin-left: 0px; 
    }
    img#error {
        right: 30%;
        top: 30px;
    }
}